<div class="tab-pane fade show active" id="show-students" role="tabpanel" aria-labelledby="home-tab">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Table Jurusan</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Nama</th>
              <th>NPM</th>
              <th>Fakultas</th>
              <th>Jurusan</th>
              <th>Email</th>
              <th>No.Telp</th>
              <th>Tahun Masuk</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i = 0; i < students.length; i++) { %>
              <tr>
                <td><%= students[i].npm %></td>
                <td><%= students[i].name %></td>
                <td><%= students[i].facultyId.faculty %></td>
                <td><%= students[i].majorId.name %></td>
                <td><%= students[i].email %></td>
                <td><%= students[i].noTelp %></td>
                <td><%= students[i].yearStart.getUTCFullYear() %></td>
                <td>
                  <form action="/admin/students/<%= students[i].id %>/delete?_method=DELETE" method="POST">
                    <a href="/admin/students/<%= students[i].id %>" class="btn btn-warning btn-circle btn-sm"><i class="fas fa-edit"></i></a>
                    <button type="submit" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></button>
                </form>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
